@{
    ViewBag.Title = "Home Page";
}

<section class="banner-section home-4 topsection-area" style="background-image: url(~/Content/assets/images/banner/bg-4.jpg); padding:0px">
    <video autoplay muted loop style="width:100%">
        <source src="~/Content/Videos/Royal%20Santa_Landing%20Page_for%20web.mp4" type="video/mp4" />
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <div class="container topsection">

        <div class="banner-wrapper">

            <div class="row align-items-center g-5">
                <div class="col-lg-7">
                    <div class="banner-content ">
                        <p style="font-size:x-large">Hello,</p>
                        <h4>It’s <span class="theme-color-4">CHRISTMAS TIME</span> for everyone</h4>
                        <p>Yes! Santa for <span class="theme-color-4">Every season. Every month. Every day.</span></p>
                        <p>Welcome to the magical world of the unique 2500 Royal Santa NFT collections where the Santa’s are stored as ERC-721 tokens on Polygon blockchain.</p>
                        <p>Royal Santa brings you the first ever Christmas  NFT project by creating a positive community and celebrating cultural diversity. May these various avatars put in the holiday spirit.</p>



                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="nft-slider-wrapper">
                        <div class="swiper banner-item-slider-2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="nft-item home-4">
                                        <div class="nft-inner">

                                            <div class="nft-item-bottom">
                                                <div class="nft-thumb">
                                                    <img loading="lazy" src="~/Content/assets/images/For Slider/05.jpg" alt="nft-img">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="swiper-slide">
                                    <div class="nft-item home-4">
                                        <div class="nft-inner">

                                            <div class="nft-item-bottom">
                                                <div class="nft-thumb">
                                                    <img loading="lazy" src="~/Content/assets/images/For Slider/06.jpg" alt="nft-img">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="nft-item home-4">
                                        <div class="nft-inner">

                                            <div class="nft-item-bottom">
                                                <div class="nft-thumb">
                                                    <img loading="lazy" src="~/Content/assets/images/For Slider/07.jpg" alt="nft-img">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="nft-item home-4">
                                        <div class="nft-inner">

                                            <div class="nft-item-bottom">
                                                <div class="nft-thumb">
                                                    <img loading="lazy" src="~/Content/assets/images/For Slider/08.jpg" alt="nft-img">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-section pb-120  section-importantnotes" id="event">
    <div class="">
        <div class="imporntant-notes-body">
            <div class="section-wrapper text-center important-notes">
                <h3>IMPORTANT EVENTS</h3>
                <p class="info">Keep an eye as we are sure you don’t want to miss the regular updates we post</p>

                @*<p class="line1">Public Sale:  <span>Active Now</span></p>*@
                <p class="line1">Valentine Special Contest - Live</p>

                <div class="btnopensia">
                    <a data-blast="bgColor" href="https://opensea.io/collection/royalsantanft" target="_blank"
                       @*class="btn move-top"><span>View on OpenSea</span> </a>*@
                       class="btn move-top"><span>Follow Social Pages</span> </a>
                </div>


                <p class="line2">Follow us for more Event updates</p>
                <p class="line3">Verified smart contract:   <a href="https://polygonscan.com/address/0x9af64d1ed2788a4292f7e4f0063751117724eb71" style="text-decoration:underline">Check on PolygonScan</a></p>
            </div>
        </div>
    </div>
</section>

<section class="pb-120  section-slider">
    <div class="container">
        <p class="description">Join the Royal Santa family and explore the boundaries of the collection showcasing unique pieces with possible traits including Clothing, Tattoo, Hair, Eyeglasses, Caps, Expression, and Beard. </p>
    </div>
    <div class="owl-carousel">
        <div class="item"><img class="d-block w-100" src="~/Content/assets/images/For Slider/01.jpg"></div>
        <div class="item"><img class="d-block w-100" src="~/Content/assets/images/For Slider/02.jpg"></div>
        <div class="item"><img class="d-block w-100" src="~/Content/assets/images/For Slider/03.jpg"></div>
        <div class="item"><img class="d-block w-100" src="~/Content/assets/images/For Slider/04.jpg"></div>
        <div class="item"><img class="d-block w-100" src="~/Content/assets/images/For Slider/05.jpg"></div>
        <div class="item"><img class="d-block w-100" src="~/Content/assets/images/For Slider/06.jpg"></div>
        <div class="item"><img class="d-block w-100" src="~/Content/assets/images/For Slider/07.jpg"></div>
        <div class="item"><img class="d-block w-100" src="~/Content/assets/images/For Slider/08.jpg"></div>
        <div class="item"><img class="d-block w-100" src="~/Content/assets/images/For Slider/09.jpg"></div>
        <div class="item"><img class="d-block w-100" src="~/Content/assets/images/For Slider/10.jpg"></div>
        <div class="item"><img class="d-block w-100" src="~/Content/assets/images/For Slider/11.jpg"></div>
        <div class="item"><img class="d-block w-100" src="~/Content/assets/images/For Slider/12.jpg"></div>
    </div>
</section>

<section class="pb-120 blog-section  section-withbike">
    <div class="container-fluid">
        <div class="row align-items-center g-5">
            <div class="col-lg-5 text-center">
                <p class="line1">Let Virtual reality bring the joys and the magic of Christmas to the metaverse world with a fantastic <span class="theme-color-4">Royal Santa Game.</span></p>

                <p>Our team has started working on the interface of the Royal Santa game. Collaboration, charity, events and much more to come in 2022.</p>

                <p>Our first preference will always be given to the believers who hold Royal Santa Nfts and believe in Santa Claus that he <span class="theme-color-4">brings positiveness, prosperity & happiness in life</span>. Grab this opportunity to be a part of the Royal Santa community before it’s too late.</p>

            </div>
            <div class="col-lg-7">
                <img src="~/Content/assets/images/Santa_with car.png" class="img-responsive" />
            </div>
        </div>
    </div>
</section>


<section class="blog-section mt-5" id="roadmap">
    <div class="container">
        <div class="section-header style-4">
            <div class="header-shape"><span></span></div>
            <h3>ROADMAP</h3>
        </div>
        <div class="section-wrapper">

            <div class="blog-wrapper">
                <div class="row justify-content-center gx-4 gy-2">
                    <div class="col-lg-4 col-sm-6">
                        <div class="nft-item home-4 blog-item">
                            <div class="nft-inner">
                                <div class="nft-thumb">
                                    <img src="~/Content/Images/road-map/Donation.jpg" alt="blog-img">
                                </div>
                                <div class="nft-content">
                                    <div class="author-details">
                                        <h4>
                                            <a href="#">
                                                Contribution
                                            </a>
                                        </h4>
                                        <div class="meta-info">
                                            <span>
                                                25% earning of first 100 RoyalSanta NFT sale will go as charity by collaborating with global NGOs. Rest of the amount will go further into the development of the game & community.

                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="nft-item home-4 blog-item">
                            <div class="nft-inner">
                                <div class="nft-thumb">
                                    <img src="~/Content/Images/road-map/Gaming.jpg" alt="blog-img">
                                </div>
                                <div class="nft-content">
                                    <div class="author-details">
                                        <h4>
                                            <a href="#"> Gaming</a>
                                        </h4>
                                        <div class="meta-info">
                                            <span>
                                                Our team has started working on the game development. All the community holders will get access to use these NFT’s into the game.<br/><br/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="nft-item home-4 blog-item">
                            <div class="nft-inner">
                                <div class="nft-thumb">
                                    <img src="~/Content/Images/road-map/Metaverse.jpg" alt="blog-img">
                                </div>
                                <div class="nft-content">
                                    <div class="author-details">
                                        <h4>
                                            <a href="#">Metaverse</a>
                                        </h4>
                                        <div class="meta-info">
                                            <span>We will engage with our community and RoyalSanta NFT holders to explore the world of metaverse and to provide benefits to our community.<br /><br /> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                @*<div class="row justify-content-center">
                        <p>We have to build and increase our community which will help subscribers and followers to become priority members. </p>
                    </div>*@
            </div>
        </div>
    </div>
</section>
<section id="teams">
    <div class="container">
        <div class="section-header style-4">
            <div class="header-shape"><span></span></div>
            <h3>CO TEAM members</h3>
        </div>
        <div class="section-wrapper">

            <div class="blog-wrapper">
                @*<div class="row justify-content-center gx-4 gy-2 mt-4 mb-4 text-center">
                    Three friends with deep love towards Art & Technology have joined hands to amalgamate future. Our newly crafted RoyalSanta NFTs symbolizes hope and faith.
                </div>*@
                <div class="row justify-content-center gx-4 gy-2">
                    <div class="col-lg-4 col-sm-6">
                        <div class="nft-item home-4 blog-item">
                            <div class="nft-inner">
                                <div class="nft-thumb  co-nft-thumb  col-3">

                                    <img src="~/Content/assets/images/Team Members/Art Santa_300 x 300.jpg" alt="blog-img" />
                                </div>
                                <div class="nft-content co-nft-content col-8">
                                    <div class="author-details">
                                        <h4>
                                            <a href="#">
                                                ART SANTA
                                            </a>
                                        </h4>
                                        <div class="meta-info">
                                            Designer
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="nft-item home-4 blog-item">
                            <div class="nft-inner">
                                <div class="nft-thumb co-nft-thumb col-3">
                                    <img src="~/Content/assets/images/Team Members/Mark Santa_300 x 300.jpg" alt="blog-img" />
                                </div>
                                <div class="nft-content co-nft-content col-8">
                                    <div class="author-details">
                                        <h4>
                                            <a href="#"> MARK SANTA</a>
                                        </h4>
                                        <div class="meta-info">
                                            Digital Marketing
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="nft-item home-4 blog-item">
                            <div class="nft-inner">
                                <div class="nft-thumb  co-nft-thumb  col-3">
                                    <img src="~/Content/assets/images/Team Members/Tech Santa_300 x 300.jpg" alt="blog-img" />
                                </div>
                                <div class="nft-content co-nft-content col-8">
                                    <div class="author-details">
                                        <h4>
                                            <a href="#">TECH SANTA</a>
                                        </h4>
                                        <div class="meta-info">
                                            Tech & Content
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="nft-item home-4 blog-item">
                            <div class="nft-inner">
                                <div class="nft-thumb  co-nft-thumb  col-3">
                                                                       <img src="~/Content/assets/images/Team Members/Rnd Santa_300 x 300.jpg" alt="blog-img"/>
                                </div>
                                <div class="nft-content co-nft-content col-8">
                                    <div class="author-details">
                                        <h4>
                                            <a href="#">RnD SANTA</a>
                                        </h4>
                                        <div class="meta-info">
                                            Research
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="nft-item home-4 blog-item">
                            <div class="nft-inner">
                                <div class="nft-thumb  co-nft-thumb  col-3">
                                    <img src="~/Content/assets/images/Team Members/Con Santa_300 x 300.jpg" alt="blog-img" />
                                </div>
                                <div class="nft-content co-nft-content col-8">
                                    <div class="author-details">
                                        <h4>
                                            <a href="#">CON SANTA</a>
                                        </h4>
                                        <div class="meta-info">
                                            Content Writer
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-section pb-120" id="faqs">
    <div class="container">
        <div class="section-header style-4">
            <div class="header-shape"><span></span></div>
            <h3>fAQ's</h3>
        </div>
        <div class="section-wrapper">
            <div class="faq-details">
                <div class="faq-heading"><h4>What’s an NFT?</h4></div>
                <div class="faq-description">
                    <p>NFT “Non-fungible token” are basically something unique and irreplaceable. An NFT can be any digital asset whose ownership is recorded on the blockchain—typically art, collectibles, and other unique assets used in games or virtual worlds. It allows you to buy and sell ownership of unique digital items.</p>
                </div>
            </div>
            <div class="faq-details">
                <div class="faq-heading"><h4>What is Metamask?</h4></div>
                <div class="faq-description">
                    <p>Metamask is a software cryptocurrency wallet used to interact with Ethereum blockchain. You can store your Ethereum which is required to purchase and mint a Royal Santa NFT. Having a wallet gives you an unique Ethereum address (i.e. 0xABCD….1234), this is where your NFT will be stored. Learn more about Metamask and how easy it is to use over here! https://metamask.io/</p>
                </div>
            </div>

            <div class="faq-details">
                <div class="faq-heading"><h4>How to invest in NFT?</h4></div>
                <div class="faq-description">
                    <p>
                        <ul>
                            <li>Choose an NFT you like: a piece of art, music, or an item within a video game.</li>
                            <li>Find out which type of crypto is needed to buy your targeted NFT. Each NFT marketplace has specific crypto wallet requirements.</li>
                            <li>Open and fund a crypto wallet on the marketplace. It will allow you to send, receive and store digital assets.</li>
                            <li>You can buy an NFT at a fixed price or via a virtual auction. Buy your NFT, or place a bid and wait to see if you win your chosen NFT.</li>
                        </ul>

                    </p>
                </div>
            </div>


            <div class="faq-details">
                <div class="faq-heading"><h4>What is the use/future of NFT?</h4></div>
                <div class="faq-description">
                    <p>NFTs are the potential disruption for many industries, examples of few of them are:</p>
                    <ul>
                        <li><b>Gaming-</b> The world of gaming will most likely be one of the next areas of application where we see a massive fundamental shift from NFTs. NFT tokens are used for in-app purchases. These games will be a turning point for many NFT enthusiasts who want to play games and earn so much cryptocurrency out of them. Gamers find deep intrinsic value in their digital identities; their personal history, achievements, communities, stories, and status. Now, the Play-to-Earn model has arrived. Where players participate in a game, contribute value to the ecosystem through their gameplay, and earn NFT digital assets. By owning these assets, gamers can sell their NFTs and are actually earning money in conjunction with the game developer.</li>
                        <li><b>Social & Environmental Impact-</b> NFTs are making social impact by doing fundraising for charitable causes. There are many organizations in the market who are doing unique ways to create awareness to build social community. With lots and lots of NFTs buying and selling process y cryptocurrency in the market, the problem of carbon emission is another concern, to offset this organizations are coming forward to with the term called carbon credit NFT minting in the market and minting. This will have bigger role to play in future.</li>
                        <li><b>Real Estate-</b> Real estate is the asset class with the highest amount of money in it. Contracts, certifications, ownership and claim history will all be stored in the blockchain and publicly accessible. You can put the ownership of the land or property on a blockchain and allow people to view it. The buyers and sellers of land and properties will also benefit from NFTs because they will not have to pay high fees for transactional and administrative costs. Automating countless paperwork and eliminating several layers of intermediaries. Once more real estate contracts get created as NFTs and stored on a secure blockchain, real estate fraud will be a thing of the past, as such Smart Contracts are nearly impossible to alter, easy to verify and permanently stored. NFTs can also be used in order to create a new form of crowdfunding that will help investors get returns on their investment in real estate projects such as building houses and rental apartments.</li>
                        <li><b>The Metaverse- </b> The metaverse and NFTs have become almost analogous. NFT technology grants individuals true ownership over digital assets like pictures, audio, video and even real estate in Metaverse. NFT allow individuals to sell, buy and transfer within the metaverse or over Internet. Metaverses are virtual worlds where essentially the internet is brought to life. There is an abundant possibility within metaverse worlds, where you get to design your life, interact with real people in virtual communities, design your avatar, work, play, and explore new worlds by using virtual reality headsets, augmented reality glasses, smartphone apps or other devices which include incorporating virtual touch.</li>

                    </ul>
                </div>
            </div>
            @*<div class="faq-details">
                    <div class="faq-heading"><h4>What are Royal Santa?</h4></div>
                    <div class="faq-description">
                        <p style="font-size:24px">Royal Santa NFT is created by a team of passionate Artists & Professionals to bring something unique to NFT community supporting Ethereum blockchain ERC-1155 token. The collection showcases unique 1000 pieces with possible traits including Clothing, Eyeglasses, Caps, Expression, and Beard.</p>
                    </div>
                </div>*@

            <div class="faq-details">
                <div class="faq-heading"><h4>What is the benefit of joining Royal Santa NFT community?</h4></div>
                <div class="faq-description">
                    <p>Holders will have priority access to NFTs, giveaways and will get regular updates of our development programs.</p>
                </div>
            </div>


            <div class="faq-details">
                <div class="faq-heading"><h4>What will Royal Santa NFT community do?</h4></div>
                <div class="faq-description">
                    <p>Royal Santa community will collaborate with children’s NGO to eradicate poverty and hunger to meet the daily food needs of underprivileged children and to empower them with better education to serve them with lifelong happiness. </p>
                </div>
            </div>
        </div>
    </div>
</section>
