@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}<div class="block-header">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/Content/Theme/Admin/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/Content/Theme/Admin/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/Content/Theme/Admin/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- JQuery DataTable Css -->
    <link href="~/Content/Theme/Admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="~/Content/Theme/Admin/css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Content/Theme/Admin/css/themes/all-themes.css" rel="stylesheet" />
</div>
<div class="block-header">

    <div class="jumbotron"><h1 class="text-center text-primary">Welcome in the Santa NFT Management</h1></div>
    
</div>

<!-- Jquery Core Js -->
<script src="~/Content/Theme/Admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap Core Js -->
<!-- Select Plugin Js -->
<script src="~/Content/Theme/Admin/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Slimscroll Plugin Js -->
<script src="~/Content/Theme/Admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- Waves Effect Plugin Js -->
<script src="~/Content/Theme/Admin/plugins/node-waves/waves.js"></script>
<!-- Demo Js -->
<script src="~/Content/Theme/Admin/js/demo.js"></script>
<!-- Custom Js -->
<script src="~/Content/Theme/Admin/js/admin.js"></script>
<script src="~/Content/Theme/Admin/js/pages/tables/jquery-datatable.js"></script>
